## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
%pip install tensorflow
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

Requirement already satisfied: tensorflow in /usr/local/lib/python3.11/dist-packages (2.18.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from tensorflow) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (4.25.6)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.11/dist-packages (from tensorflow) (75.1.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.70.0)
Requirement already satisfied: tensorboard<2.19,>=2.18 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.18.0)
Requirement already satisfied: keras>=3.5.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: numpy<2.1.0,>=1.26.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.26.4)
Requirement already satisfied: h5py>=3.11.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.12.1)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.4.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.37.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (0.0.8)
Requirement already satisfied: optree in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (0.14.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (2025.1.31)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.11/dist-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras>=3.5.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras>=3.5.0->tensorflow) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.2)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns.
application_df = application_df.drop(columns=['EIN', 'NAME'],axis=1)
# Display the DataFrame to confirm the changes.
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
# Look at APPLICATION_TYPE value counts.
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff = 100
# use the variable name `application_types_to_replace`
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()
print(application_types_to_replace)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

['T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C2710        3
C0           3
C1260        3
C1256        2
C1234        2
C1267        2
C1246        2
C3200        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff = 1000
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()
print(classifications_to_replace)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C2300', 'C7200', 'C1240', 'C8000', 'C7120', 'C1500', 'C6000', 'C1800', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C1720', 'C4100', 'C2400', 'C1600', 'C1257', 'C2710', 'C0', 'C1260', 'C1256', 'C1234', 'C1267', 'C1246', 'C3200', 'C2190', 'C4200', 'C5200', 'C1236', 'C4500', 'C2561', 'C4120', 'C2170', 'C1245', 'C8210', 'C1732', 'C1728', 'C1570', 'C2380', 'C2500', 'C3700', 'C1580', 'C1283', 'C2570', 'C1370', 'C2600', 'C1248', 'C6100', 'C1820', 'C1900', 'C2150']

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)

In [10]:
#  Split our preprocessed data into our features and target arrays
X = application_df_dummies.drop(columns=['IS_SUCCESSFUL'], axis='columns').values
y = application_df_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Display the shape of the training and testing data
print(f"Training data shape: X_train: {X_train.shape}, y_train: {y_train.shape}")
print(f"Testing data shape: X_test: {X_test.shape}, y_test: {y_test.shape}")

Training data shape: X_train: (27439, 44), y_train: (27439,)
Testing data shape: X_test: (6860, 44), y_test: (6860,)

## Compile, Train and Evaluate the Model

In [13]:
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30
print("number_input_features :",number_input_features)

number_input_features : 44

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation='relu', input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                             3,600

 dense_1 (Dense)                       (None, 30)                             2,430

 dense_2 (Dense)                       (None, 1)                                 31

 Total params: 6,061 (23.68 KB)

 Trainable params: 6,061 (23.68 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [16]:
# Train the model
# Fit the model on the training data
history = nn.fit(X_train_scaled, y_train, epochs=50, validation_data=(X_test_scaled, y_test))

Epoch 1/50
858/858  6s 4ms/step - accuracy: 0.7080 - loss: 0.5884 - val_accuracy: 0.7223 - val_loss: 0.5672
Epoch 2/50
858/858  2s 3ms/step - accuracy: 0.7257 - loss: 0.5586 - val_accuracy: 0.7201 - val_loss: 0.5642
Epoch 3/50
858/858  3s 4ms/step - accuracy: 0.7324 - loss: 0.5495 - val_accuracy: 0.7245 - val_loss: 0.5612
Epoch 4/50
858/858  5s 5ms/step - accuracy: 0.7261 - loss: 0.5554 - val_accuracy: 0.7293 - val_loss: 0.5617
Epoch 5/50
858/858  5s 6ms/step - accuracy: 0.7351 - loss: 0.5490 - val_accuracy: 0.7249 - val_loss: 0.5619
Epoch 6/50
858/858  6s 6ms/step - accuracy: 0.7336 - loss: 0.5473 - val_accuracy: 0.7226 - val_loss: 0.5592
Epoch 7/50
858/858  3s 3ms/step - accuracy: 0.7341 - loss: 0.5470 - val_accuracy: 0.7246 - val_loss: 0.5579
Epoch 8/50
858/858  2s 3ms/step - accuracy: 0.7319 - loss: 0.5438 - val_accuracy: 0.7261 - val_loss: 0.5575
Epoch 9/50
858/858  2s 3ms/step - accuracy: 0.7375 - loss: 0.5434 - val_accuracy: 0.7262 - val_loss: 0.5587
Epoch 10/50
858/858  3s 4ms/step - accuracy: 0.7345 - loss: 0.5445 - val_accuracy: 0.7267 - val_loss: 0.5578
Epoch 11/50
858/858  3s 3ms/step - accuracy: 0.7348 - loss: 0.5427 - val_accuracy: 0.7281 - val_loss: 0.5579
Epoch 12/50
858/858  5s 3ms/step - accuracy: 0.7319 - loss: 0.5477 - val_accuracy: 0.7254 - val_loss: 0.5567
Epoch 13/50
858/858  3s 3ms/step - accuracy: 0.7315 - loss: 0.5472 - val_accuracy: 0.7262 - val_loss: 0.5560
Epoch 14/50
858/858  3s 3ms/step - accuracy: 0.7349 - loss: 0.5434 - val_accuracy: 0.7271 - val_loss: 0.5588
Epoch 15/50
858/858  5s 3ms/step - accuracy: 0.7387 - loss: 0.5411 - val_accuracy: 0.7213 - val_loss: 0.5576
Epoch 16/50
858/858  2s 3ms/step - accuracy: 0.7353 - loss: 0.5437 - val_accuracy: 0.7277 - val_loss: 0.5577
Epoch 17/50
858/858  3s 4ms/step - accuracy: 0.7348 - loss: 0.5410 - val_accuracy: 0.7305 - val_loss: 0.5552
Epoch 18/50
858/858  5s 3ms/step - accuracy: 0.7355 - loss: 0.5420 - val_accuracy: 0.7293 - val_loss: 0.5553
Epoch 19/50
858/858  3s 3ms/step - accuracy: 0.7330 - loss: 0.5422 - val_accuracy: 0.7281 - val_loss: 0.5547
Epoch 20/50
858/858  2s 3ms/step - accuracy: 0.7392 - loss: 0.5409 - val_accuracy: 0.7289 - val_loss: 0.5569
Epoch 21/50
858/858  3s 4ms/step - accuracy: 0.7360 - loss: 0.5392 - val_accuracy: 0.7257 - val_loss: 0.5568
Epoch 22/50
858/858  4s 3ms/step - accuracy: 0.7383 - loss: 0.5420 - val_accuracy: 0.7265 - val_loss: 0.5591
Epoch 23/50
858/858  3s 3ms/step - accuracy: 0.7333 - loss: 0.5488 - val_accuracy: 0.7274 - val_loss: 0.5582
Epoch 24/50
858/858  3s 3ms/step - accuracy: 0.7392 - loss: 0.5385 - val_accuracy: 0.7265 - val_loss: 0.5596
Epoch 25/50
858/858  3s 3ms/step - accuracy: 0.7359 - loss: 0.5412 - val_accuracy: 0.7273 - val_loss: 0.5567
Epoch 26/50
858/858  5s 3ms/step - accuracy: 0.7356 - loss: 0.5390 - val_accuracy: 0.7281 - val_loss: 0.5573
Epoch 27/50
858/858  3s 3ms/step - accuracy: 0.7320 - loss: 0.5441 - val_accuracy: 0.7258 - val_loss: 0.5579
Epoch 28/50
858/858  5s 3ms/step - accuracy: 0.7387 - loss: 0.5369 - val_accuracy: 0.7286 - val_loss: 0.5579
Epoch 29/50
858/858  2s 3ms/step - accuracy: 0.7404 - loss: 0.5361 - val_accuracy: 0.7292 - val_loss: 0.5613
Epoch 30/50
858/858  3s 3ms/step - accuracy: 0.7383 - loss: 0.5378 - val_accuracy: 0.7290 - val_loss: 0.5558
Epoch 31/50
858/858  3s 3ms/step - accuracy: 0.7406 - loss: 0.5385 - val_accuracy: 0.7262 - val_loss: 0.5585
Epoch 32/50
858/858  5s 3ms/step - accuracy: 0.7408 - loss: 0.5333 - val_accuracy: 0.7258 - val_loss: 0.5561
Epoch 33/50
858/858  2s 3ms/step - accuracy: 0.7382 - loss: 0.5375 - val_accuracy: 0.7280 - val_loss: 0.5561
Epoch 34/50
858/858  2s 3ms/step - accuracy: 0.7399 - loss: 0.5392 - val_accuracy: 0.7257 - val_loss: 0.5572
Epoch 35/50
858/858  3s 4ms/step - accuracy: 0.7401 - loss: 0.5348 - val_accuracy: 0.7280 - val_loss: 0.5567
Epoch 36/50
858/858  5s 3ms/step - accuracy: 0.7416 - loss: 0.5362 - val_accuracy: 0.7262 - val_loss: 0.5563
Epoch 37/50
858/858  2s 3ms/step - accuracy: 0.7384 - loss: 0.5358 - val_accuracy: 0.7276 - val_loss: 0.5574
Epoch 38/50
858/858  3s 3ms/step - accuracy: 0.7437 - loss: 0.5361 - val_accuracy: 0.7286 - val_loss: 0.5566
Epoch 39/50
858/858  3s 4ms/step - accuracy: 0.7378 - loss: 0.5395 - val_accuracy: 0.7286 - val_loss: 0.5568
Epoch 40/50
858/858  4s 3ms/step - accuracy: 0.7411 - loss: 0.5360 - val_accuracy: 0.7287 - val_loss: 0.5577
Epoch 41/50
858/858  3s 3ms/step - accuracy: 0.7395 - loss: 0.5375 - val_accuracy: 0.7251 - val_loss: 0.5622
Epoch 42/50
858/858  3s 3ms/step - accuracy: 0.7368 - loss: 0.5386 - val_accuracy: 0.7268 - val_loss: 0.5590
Epoch 43/50
858/858  3s 3ms/step - accuracy: 0.7392 - loss: 0.5381 - val_accuracy: 0.7290 - val_loss: 0.5575
Epoch 44/50
858/858  3s 3ms/step - accuracy: 0.7385 - loss: 0.5384 - val_accuracy: 0.7290 - val_loss: 0.5572
Epoch 45/50
858/858  5s 3ms/step - accuracy: 0.7397 - loss: 0.5333 - val_accuracy: 0.7271 - val_loss: 0.5584
Epoch 46/50
858/858  3s 4ms/step - accuracy: 0.7381 - loss: 0.5371 - val_accuracy: 0.7280 - val_loss: 0.5589
Epoch 47/50
858/858  4s 3ms/step - accuracy: 0.7386 - loss: 0.5371 - val_accuracy: 0.7296 - val_loss: 0.5603
Epoch 48/50
858/858  3s 3ms/step - accuracy: 0.7453 - loss: 0.5307 - val_accuracy: 0.7278 - val_loss: 0.5596
Epoch 49/50
858/858  3s 3ms/step - accuracy: 0.7371 - loss: 0.5393 - val_accuracy: 0.7267 - val_loss: 0.5589
Epoch 50/50
858/858  5s 3ms/step - accuracy: 0.7432 - loss: 0.5333 - val_accuracy: 0.7262 - val_loss: 0.5615

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 2ms/step - accuracy: 0.7262 - loss: 0.5615
Loss: 0.5615436434745789, Accuracy: 0.7262390851974487

In [18]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.keras')